<div id="root"></div>

<script type="text/javascript">
  <% if logged_in? %>
    <% track_ids = SavedTrack.joins(:user, :track).where('users.id': current_user.id).order(created_at: :desc).pluck(:track_id) %>
    window.currentUser =
      <%= render("api/users/user.json.jbuilder", user: current_user, track_ids: track_ids ).html_safe %>
    window.userPlaylists =
      <%= render("api/playlists/playlists.json.jbuilder", playlists: Playlist.user_playlists(current_user)).html_safe %>
  <% end %>

    window.siteGeneratedPlaylistIds =
      <%= Playlist.featured.pluck('playlists.id') %>
    window.staticAssets = {
      backButton: "<%= asset_url "back.png" %>",
      nextButton: "<%= asset_url "next.png" %>",
      repeatButton: "<%=asset_url "repeat6.png" %>",
      repeatButtonEnabled: "<%=asset_url "repeat_enabled.png" %>",
      shuffleButton: "<%=asset_url "shuffle_big.png" %>",
      shuffleButtonEnabled: "<%=asset_url "shuffle_enabled.png" %>",
      playButton: "<%=asset_url "play-button_med.png" %>",
      playButtonLarge: "<%=asset_url "playLarge.svg" %>",
      pauseButton: "<%=asset_url "pause_main.png" %>",
      pauseButtonLarge: "<%=asset_url "pauseLarge.svg" %>",
      volumeOff: "<%=asset_url "volume_off_2.png" %>",
      volumeLow: "<%=asset_url "volume_low_2.png" %>",
      volumeMid: "<%=asset_url "volume_mid_3.png" %>",
      volumeHigh: "<%=asset_url "volume_high_3.png" %>",
      gitHub: "<%=asset_url "github.png" %>",
      linkedIn: "<%=asset_url "linkedin.png" %>",
      closeButton: "<%=asset_url "xout.svg" %>",
      plus: "<%=asset_url "plus.svg" %>",
      tick: "<%=asset_url "check.svg" %>"
     }
</script>
