<!DOCTYPE html>
<html>
  <head>
    <title>Spinn</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/db438bcb99.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300|Open+Sans:300,400,700|Roboto:100,300" rel="stylesheet">
    <link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
    <script type="text/javascript">
      <% if logged_in? %>
        <% track_ids = SavedTrack.joins(:user, :track).where('users.id': current_user.id).order(created_at: :desc).pluck(:track_id) %>
        window.currentUser =
          <%= render("api/users/user.json.jbuilder", user: current_user, track_ids: track_ids ).html_safe %>
        window.userPlaylists =
          <%= render("api/playlists/playlists.json.jbuilder", playlists: Playlist.user_playlists(current_user)).html_safe %>
      <% end %>
      
        window.siteGeneratedPlaylistIds =
          <%= Playlist.featured.pluck(:id) %>
        window.staticAssets = {
          backButton: "<%= asset_url "back.png" %>",
          nextButton: "<%= asset_url "next.png" %>",
          repeatButton: "<%=asset_url "repeat6.png" %>",
          shuffleButton: "<%=asset_url "shuffle_big.png" %>",
          playButton: "<%=asset_url "play-button_med.png" %>",
          pauseButton: "<%=asset_url "pause_main.png" %>"
        }
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
